.gorder-about {
    margin-top: 24px;
    margin-bottom: 120px;
    .about {
        .title {
            font-weight: map-get($font-weights, bold);
            color: $primary;
        }
        .desc {
            font-size: 16px;
            font-weight: map-get($font-weights, regular);
        }
    }
    .image-about {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 991.98px) {
    .gorder-about {
        padding: 12px;
        .about {
            margin-bottom: 48px;
        }
    }
}

.gorder-app {
    padding: 72px 0;
    background-color: $bgprimary;
    .image-app {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .about-app {
        .title {
            color: $secondary;
            font-weight: map-get($font-weights, semibold);
        }
        .desc {
            font-size: 20px;
            b {
                color: $primary;
            }
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 991.98px) {
    .gorder-app {
        padding: 48px 12px;
        .about-app {
            margin-top: 24px;
            text-align: center;
        }
    }
}

.gorder-testi {
    margin: 64px 0;
    .title-testi {
        color: $primary;
        margin-bottom: 28px;
        font-weight: map-get($font-weights, sembold);
    }
}

@media only screen and (min-width: 300px) and (max-width: 991.98px) {
    .gorder-testi {
        padding: 12px;
    }
}
