* {
    margin: 0;
    padding: 0;
    font-family: inter;
}

.owl-prev {
    i {
        font-size: 24px;
        padding: 8px 24px;
        background-color: $bgprimary;
        color: $secondary;
    }
}
.owl-next {
    i {
        font-size: 24px;
        padding: 8px 24px;
        background-color: $bgprimary;
        color: $secondary;
    }
}
