@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: inter;
}

.owl-prev i {
  font-size: 24px;
  padding: 8px 24px;
  background-color: #ffe6e6;
  color: #14cfc7;
}

.owl-next i {
  font-size: 24px;
  padding: 8px 24px;
  background-color: #ffe6e6;
  color: #14cfc7;
}

.gorder-about {
  margin-top: 24px;
  margin-bottom: 120px;
}

.gorder-about .about .title {
  font-weight: 700;
  color: #d70a0a;
}

.gorder-about .about .desc {
  font-size: 16px;
  font-weight: 400;
}

.gorder-about .image-about img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 300px) and (max-width: 991.98px) {
  .gorder-about {
    padding: 12px;
  }
  .gorder-about .about {
    margin-bottom: 48px;
  }
}

.gorder-app {
  padding: 72px 0;
  background-color: #ffe6e6;
}

.gorder-app .image-app img {
  width: 100%;
  height: 100%;
}

.gorder-app .about-app .title {
  color: #14cfc7;
  font-weight: 600;
}

.gorder-app .about-app .desc {
  font-size: 20px;
}

.gorder-app .about-app .desc b {
  color: #d70a0a;
}

@media only screen and (min-width: 300px) and (max-width: 991.98px) {
  .gorder-app {
    padding: 48px 12px;
  }
  .gorder-app .about-app {
    margin-top: 24px;
    text-align: center;
  }
}

.gorder-testi {
  margin: 64px 0;
}

.gorder-testi .title-testi {
  color: #d70a0a;
  margin-bottom: 28px;
}

@media only screen and (min-width: 300px) and (max-width: 991.98px) {
  .gorder-testi {
    padding: 12px;
  }
}

.navbar-gorder .navbar-brand .logo-gorder {
  width: 180px;
  height: 60px;
}

.navbar-gorder .navbar-nav .nav-link {
  font-size: 18px;
  margin-right: 24px;
  font-weight: 400;
}

.navbar-gorder .navbar-nav .nav-link.active {
  color: #000;
  font-weight: 600;
}

.navbar-gorder .profile-action img {
  width: 60px;
  height: 60px;
}

@media only screen and (min-width: 300px) and (max-width: 991.98px) {
  .navbar-gorder .navbar-nav {
    text-align: right;
  }
  .navbar-gorder .navbar-nav .nav-link {
    padding: 24px 0;
  }
  .navbar-gorder .profile-action {
    margin-top: 18px;
  }
}

.footer {
  background: #ffe6e6;
}

.footer .logo img {
  width: 180px;
  height: 68px;
}

.footer .sosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer .sosmed i {
  color: #d70a0a;
  font-size: 32px;
  margin-right: 24px;
}

@media only screen and (min-width: 300px) and (max-width: 991.98px) {
  .footer {
    text-align: center;
  }
  .footer .sosmed {
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn-outline-gorder {
  font-size: 18px;
  color: #d70a0a;
  border: 2px solid #d70a0a;
  border-radius: 50px;
  font-weight: 500;
  padding: 12px 24px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.btn-outline-gorder:hover {
  background-color: #d70a0a;
  border: 2px solid transparent;
  color: #fff;
}

.btn-download {
  padding: 12px 64px;
  border-radius: 50px;
  background: #14cfc7;
  font-size: 18px;
  font-weight: 700;
}

.card-testi {
  padding: 24px 8px;
  border: 2px solid #ffe6e6;
  border-radius: 10px;
}

.card-testi .card-body .card-text {
  font-size: 16px;
  color: #000;
}

.card-testi .card-body .testi-profile img {
  width: 40px;
  height: 40px;
}

.card-testi .card-body .testi-profile .card-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */