.card-testi {
    padding: 24px 8px;
    border: 2px solid $bgprimary;
    border-radius: 10px;
    .card-body {
        .card-text {
            font-size: 16px;
            color: $black;
        }
        .testi-profile {
            img {
                width: 40px;
                height: 40px;
            }
            .card-title {
                align-self: center;
                font-weight: map-get($font-weights, semibold);
                margin-bottom: 0;
            }
        }
    }
}
