.footer {
    background: $bgprimary;
    .logo {
        img {
            width: 180px;
            height: 68px;
        }
    }
    .sosmed {
        display: flex;
        justify-content: end;
        i {
            color: $primary;
            font-size: 32px;
            margin-right: 24px;
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 991.98px) {
    .footer {
        text-align: center;
        .sosmed {
            margin-top: 24px;
            display: flex;
            justify-content: center;
        }
    }
}
