.navbar-gorder {
    .navbar-brand {
        .logo-gorder {
            width: 180px;
            height: 60px;
        }
    }
    .navbar-nav {
        .nav-link {
            font-size: 18px;
            margin-right: 24px;
            font-weight: map-get($font-weights, regular);
            &.active {
                color: $black;
                font-weight: map-get($font-weights, semibold);
            }
        }
    }
    .profile-action {
        img {
            width: 60px;
            height: 60px;
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 991.98px) {
    .navbar-gorder {
        .navbar-nav {
            text-align: right;
            .nav-link {
                padding: 24px 0;
            }
        }
        .profile-action {
            margin-top: 18px;
        }
    }
}
